# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Django
*.sqlite3
# media/  # Temporarily enabled to deploy product images to Render

# Node
node_modules/

# React
build/

# General
.DS_Store
.env
*.env
*.log

# VSCode
.vscode/
